name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  shellcheck:
    name:  ShellCheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run shellcheck
        uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -e SC1091
          # https://github.com/koalaman/shellcheck/wiki/SC1091

  buildsite:
    name: Build Website
    runs-on: ubuntu-latest
    env:
      SPHINX_ROOT: ./pubweb
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt install -y python3-venv
      - name: Run sphinx-build
        run: ./.bin/pubweb -b
